.contactMap {
    max-width: 80%;
    margin: auto;
  }
  
  .formQuote {
    color: var(--gray-color);
    text-align: center;
    font-size: 18px;
    margin-bottom: 80px;
  }
  .mapImg {
    flex-basis: 65%;
  }
  
  
  .formContainer {
    display: flex;
    box-shadow: 0px 10px 20px rgba(138, 138, 138, 0.384);
    border-radius: 10px;
  }
  

  .mapImg img {
    height: 100%;
    object-fit: fill;
  }

  .formBlock h2 {
    color: var(--dark-gray-color);
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 22px;
  }
  .formBlock {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 50px;
  }
  
  .policy {
    text-align: center;
    margin-top: 40px;
  }
  
  .policy a {
    color: var(--gray-color);
    text-decoration: none;
     font-weight: 400;
    font-size: 12px;
  }