.form {
    display: flex;
    flex-direction: column;
  }
  
  .formWrapper {
    display: flex;
  }
  
  .subscribeInput {
    flex-basis: 70%;
  }
  
  .subscribeInput {
    padding: 8px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .subscribeBtn {
    color: var(--white-color);
    flex-basis: 30%;
    padding: 8px 10px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    background: linear-gradient(90deg, #0052D4 0%, #4364F7 50%, #6FB1FC 100%);
    cursor: pointer;
  }
  
  .errorPlaceholder {
    height: 16px;
  }
  
  .errorMsg {
    color: var(--red-color);
    font-weight: 400;
    font-size: 12px;
  }