@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
.footer__contacts {
    width: 50%;
    display: inline-block;
    background: url(../../assets/img/contacts.png) no-repeat;
    background-position: center;
    background-size: 100% auto;
    position: static;

}

.footer__contacts-items {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 50%;
    top: 50%;
    font-family: 'Lato';
  transform: translateY(50%);
  
}

.footer__contact-item{
    padding: 10px;
    display: flex;
  align-items: center;
}

.footer__contacts-wrapper {
    background-color: #0062b2a2;
    height: 100%;
    color: #FFF;

}

.footer__contact-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  
}