.footer__contact-form {
    width: 50%;
    display: inline-block;
    justify-content: center;
    background-color: #EEEEEE;
    transform: translateY(22.5%);
    right: 0;

}
.form__error{
    position: absolute;
    z-index: 10;
    margin-top: 10px;
    width: 300px;
    height: 50px;
    font-size: 10px;
    color: rgb(107, 16, 16);
}
.footer__form-wrapper {
    left: 50%;
    margin-left: 20%;
    display: inline-block;
    width: 70%;

}

.double-container {
    display: inline-block;
    width: 100%;

}

.double-container>.footer__input {
    width: 40%;

}

.footer__form-title {
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #393939;
    text-align: center;
    margin: 10px;
    
}

.footer__input {
    width: 90%;
    height: 30px;
    margin: 5px;
    border: none;
}

.footer__form-button {
    display: block;
    background: #0063B2;
    border: none;
    width: 100px;
    height: 30px;
    margin: auto;
    font-size: 12px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1em;
    cursor: pointer;
    text-transform: uppercase;
    z-index: -1;
}

.footer__form-button::after {
    content: "";
    clip-path: polygon(85% 0, 100% 0, 100% 100%, 60% 100%);
    background: #2F7EBD;
    display: block;
    width: 100px;
    height: 26px;
    margin: auto;
    position: absolute;
    margin-top: -22.5px;
    padding-top: 5px;
}

.footer__form-button:hover::after {
    content: "SENDEN";
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 3% 100%);
    background: #2F7EBD;
    display: block;
    width: 100px;
    height: 26px;
    margin: auto;
    position: absolute;
    margin-top: -22.5px;
    transition:  .2s;
    text-align: calc(100%);

   

}

.footer__textarea {
    width: 90%;
    height: 50px;
    margin: 5px;
    border: none;
}