@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

.portfolio__wrapper {
    display: flex;
    margin-top: 80px;
}


.portfolio__img {
    width: 400px;
    height: 230px;
    margin-top: -60px;


}

.portfolio__img-container:nth-child(2n) {
    margin-left: -50px;

}

.portfolio__img-container:nth-child(2n-1) {
    margin-right: -50px;

}

.portfolio__img-container {
    width: 400px;
    height: 230px;
    z-index: 1;
}
.portfolio__card-title{
   
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    margin: 20px auto 10px auto;
}
.portfolio__card-description{
    font-size: 12px;
   
}

.portfolio__card-container:nth-child(2n){
    padding: 10px 30px  10px 80px;
    text-align: left;
}
.portfolio__card-container:nth-child(2n-1){
    padding: 10px 70px;
    text-align: right;
}

.portfolio__card-container {
    background-color: var(--card-bg-color);
    width: 400px;
    height: 200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 170%;
    color: rgb(255, 255, 255);
    box-shadow: 4px 4px 20px rgba(226, 226, 226, 0.59);
}

.portfolio__title-right  {
    padding-top: 50px;
 padding-left: 100px;
  text-align: left;
  
}
.portfolio__title-left  {
    padding-top: 50px;
    padding-right: 100px;
    text-align: right;
  
}