@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

.logo {
    left: 0px;
    top: 0px;
    background:var(--main-bg-color);
    display: inline-block;
    padding: 5px 10px;
}
.logo__link{
    margin:auto ;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    text-decoration-line:none;
    font-weight: bold;
    letter-spacing: 0.1em;
}