.button__container{
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
button{
  border: none;
  border-radius: 30px;
  margin: 15px auto auto auto;
  padding: 7px 0;
  min-width: 140px;
  cursor: pointer;
}
.put__btn, .post__btn, .patch__btn, .get__btn{
  color: white;
  background: linear-gradient(90deg, #00265f 0%, #0b33b8 50%, #327ae6 100%);
  transition: all .3s;
}

.delete__btn{
  color: white;
  background: linear-gradient(90deg, #5f1600 0%, #b8330b 50%, #ff6060 100%);
  transition: all .3s;
}

