@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

.menu__list {
    display: flex;
    color: var(--main-bg-color);
    list-style-type: none;
    margin-top: 0%;
  
}
.menu__list-item{
   
      padding: 7px 5px;
}

.menu__link {
    letter-spacing: 0.1em;
    font-family: 'Lato';
    font-style: normal;
    margin: 1vw;
    font-size: 12px;
    text-decoration-line: none;
    font-weight: bold;
}

.menu__link:visited {
    color: var(--main-bg-color);
}