.banner {
    display: flex;
    margin-bottom: 60px;
width: 100%;
  }
  
  .lineDecorate {
    width: 80px;
    height: 4px;
    background-color: var(--blue-color);
  }
  
  .header {
    padding-top: 80px;
    margin-right: 40px;
  }
  
  .companyName {
    display: flex;
    align-items: center;
    column-gap: 14px;
  }
  
  .companyName h3 {
    font-weight: bold;
    font-size: 20px;
  }
  
  .title {
    font-weight: bold;
    font-size: 48px;
  }
  
  .title span {
    color: var(--blue-color);
  }
  
  .header p {
    font-weight: 400;
    font-size: 18px;
  }
  
  .contactUsBtn {
    background-color: var(--white-color);
    border: 1px solid;
    border-radius: 30px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    padding: 12px 31px;
    cursor: pointer;
    transition: all .2s ;
  }
  
  .contactUsBtn:hover {
    background-color: var(--black-color);
    color: var(--white-color);
  }
  
 .workerImg{
  margin-left: auto;
 }

 