.logo{
    padding-top: 4px;
}
.navigation {
    padding: 15px 0;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin: auto;
  }
  
  .navigation {
    display: flex;
    column-gap: 25px;
  }
  
  .navigation a,
  .navigation select {
    color: var(--black-color);
    font-size: 16px;
    outline: none;
    cursor: pointer;
  }
  
  .navigation a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .navigation select {
    border: none;
  }
  
  .linksList {
    display: flex;
    align-items: center;
    column-gap: 70px;
  }
  
  .registration {
    display: flex;
  }
  
  .registration a {
    color: var(--black-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  .logIn {
    padding-right: 10px;
    border-right: 1px solid;
  }
  
  .signUp {
    padding-left: 10px;
  }