.lineBreak {
    background-color: var(--blue-color);
    width: 100px;
    height: 2px;
    margin: 50px auto;
  }
  
  .contactsWrapper {
    display: flex;
    justify-content: center;
    padding-left: 45px;
    gap: 100px;
  }
  
  .contactsTitle {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 22px;
  }
  
  .phoneContainer,
  .officeContainer,
  .emailContainer {
    text-align: center;
  }
  
  .phoneContainer p,
  .officeContainer p,
  .emailContainer p {
    color: var(--gray-color);
  }
  
  .officeContainer p {
   width: 380px;
  }
  
  .contactsContainer {
    display: flex;
    column-gap: 20px;
  }
  .phoneIcon{
   padding-top: 18px;
  }
  
  .contactsIcon {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0;
  }
  
  .socialsTitle {
    margin-bottom: 30px;
  }
  
  .socialsWrapper {
    text-align: center;
  }
  
  .socialsTitle {
    font-weight: bold;
    font-size: 24px;
  }
  
  .socialsContainers {
    display: flex;
    justify-content: center;
    column-gap: 80px;
  }
  
  .socialsContainer {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  
  .socialsContainer p {
    color: var(--gray-color);
    font-weight: 400;
    font-size: 14px;
  }