.contactsBlock {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    padding-left: 20px;
    margin-top: 20px;
    max-width: 400px;
  }
  
  .contactsItem {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }
  
  .startRating {
   margin: 5px;
  }