.contacts {
    background-color: var(--dark-blue-color);
    padding: 5px 0;
}

.wrapper {
    display: flex;
    max-width: 95%;
    margin: 0 auto;
}

.contactsList {
    display: flex;
    column-gap: 20px;
    margin-left: 40px;


}

.contactsItem {
    display: flex;
    column-gap: 10px;
}

.contactsIcon {
    width: 12px;
    height: 12px;
}

.whatsUpIcon {
    width: 14px;
    height: 14px;

}

.contactsData {
    color: var(--white-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
}

.language {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.menuDetails {
    position: absolute;
    right: 40px;
}

.heart {
    height: 20px;
}

.heart::after {
    content: "24";
    padding: 3px;
    color: var(--white-color);
    font-size: 10px;
    background-color: var(--light-blue-color);
    border-radius: 50%;
    line-height: 10px;
    position: relative;
    bottom: 17px;
    right: 10px;
}

.flag {
    display: flex;
    align-items: center;
    cursor: pointer;
}