@import '../node_modules/bootstrap/dist/css/bootstrap.css';
body{
  padding: 16px;
}
ul{
  width: 80%;
  display: inline-block;
}
li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;

}
.cotainer{
  display: inline-block;
}

.user{
  display: inline-block;
  position: fixed;
text-align: right;
width: 20%;
}
/* .control-btn, .timer{
  margin: 5px;
  padding: 5px;
} */

button{
  margin: 10px;
}