.menuContainer {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  
  .footerMenu {
    display: flex;
    justify-content: center;
    column-gap: 35px;
  }
  
  .footerMenu a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 14px;
  }